<div>Peticiones:{{httpOmdbService.contadorPeticiones()}}</div>
<div id="formulario">
    <input type="text" name="iTitle" id="iTitle" placeholder="Título" [(ngModel)]="movieTitle">
    <button id="bSearch" class="boton" (click)="getMovieByTitle()" [disabled]="loading">Buscar</button>
    <button id="bSave" class="boton">Guardar</button>
</div>
@if (loading) {
<div class="movie-card">
    <img src="images/loading.gif">
</div>
} @else {
<div class="movie-card">
    <div class="title">{{movie?.Title ? movie.Title : 'No disponible'}}</div>
    <div class="director">{{movie?.Director ? movie.Director : 'No disponible'}}</div>
    <div class="year">{{movie?.Year ? movie.Year : 'No disponible'}}</div>
    <div class="genero">{{movie?.Genre ? movie.Genre : 'No disponible'}}</div>
    <div>
        <img [src]="movie?.Poster==='N/A' ? 'images/no-image-available.jpg' : movie?.Poster" alt="Poster">
    </div>
</div>
}